
.nav {
    list-style-type: none;
}
.nav > li {
    /*border: 1px solid #2987A3;
    background-color: #7ED3ED;*/
    padding: 3px;
    margin: 3px;
    width: 250px;
}
.nav > li:hover {
    background-color: #B1FAFA;
    color: #fff;
}
.delete-item {
    float: right;
    margin-right: 2px;
    color: #fff;
    padding: 0px 6px;
    background-color: #FC6A6A;
    border-radius: 100%;
}

.selected {
    border: 1px solid red;
    background-color: #B1FAFA;
}

.mytable, .mytable th, .mytable td {border: 1px solid black;border-collapse: collapse;}
.currentPage {
    font-size:20px;
    color: green;
}
