
    <div class="ngdialog-message">
        <h3>Add/update class</h3>
        <fieldset>
            <legend>Action mode</legend>
            {{ngDialogData}}
            <table style="width:100%;">
                <tr>
                    <td>
                        <input id="BrowseThisComputerId" type="radio" name="ActionModeGroup" ng-model="ActionMode" value="BrowseThisComputer" />
                        <label for="BrowseThisComputerId">
                            Browse this computer
                        </label>
                    </td>
                    <td>
                        <input id="SelectOnlineCorpusId" type="radio" name="ActionModeGroup" ng-model="ActionMode" value="SelectOnlineCorpus" />
                        <label for="SelectOnlineCorpusId">
                            Select online corpus
                        </label>
                    </td>
                    <td>
                        <input id="LoadStoredClassId" type="radio" name="ActionModeGroup" ng-model="ActionMode" value="LoadStoredClass" />
                        <label for="LoadStoredClassId">
                            Load stored class
                        </label>
                    </td>
                </tr>
            </table>
        </fieldset>
        <in-progress></in-progress>
        <div ng-show="ActionMode == 'BrowseThisComputer' && !showInProcess">
            <fieldset>
                <legend>Browse this computer</legend>
                <div>
                    Select a zip file :<input type="file" focus-on="Browse_focusZipFile" file-model="zipFile" accept=".zip" custom-on-change="file_changed" />
                </div>
                <div ng-show="Browse_fileUploaded">
                    <fieldset>
                        <legend>Manage files</legend>
                        There are <code>{{Browse_NumberOfFiles}}</code> files with <code>{{Browse_NumberOfWords}}</code> words.
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <input id="Browse_DoNotChunkId" type="radio" name="Browse_ChunkModeGroup" ng-model="Browse_ChunkMode" value="DoNotChunk" />
                                    <label for="Browse_DoNotChunkId">
                                        Do not chunk (each file is a single example)
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="Browse_AppendAndChunkId" type="radio" name="Browse_ChunkModeGroup" ng-model="Browse_ChunkMode" value="AppendAndChunk" />
                                    <label for="Browse_AppendAndChunkId">
                                        Append all files and then chunk (small files will be concatenated)
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="Browse_ChunkBigFilesId" type="radio" name="Browse_ChunkModeGroup" ng-model="Browse_ChunkMode" value="ChunkBigFiles" />
                                    <label for="Browse_ChunkBigFilesId">
                                        Chunk big files
                                    </label>
                                </td>
                            </tr>
                            <tr ng-show="Browse_ChunkMode!='DoNotChunk'">
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                Minimum chunk size
                                            </td>
                                            <td><input style="width:50px;" ng-change="updateBrowse_ChunkSize()" ng-model="Browse_MinimumChunkSize" type="text" value="{{Browse_MinimumChunkSize}}" /></td>
                                            <td>-words</td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr />
                                    Now there are
                                    <span ng-show="Browse_ChunkMode=='DoNotChunk'">{{Browse_DoNotChunk_ChunkSize}}</span>
                                    <span ng-show="Browse_ChunkMode=='AppendAndChunk'">{{Browse_AppendAndChunk_ChunkSize}}</span>
                                    <span ng-show="Browse_ChunkMode=='ChunkBigFiles'">{{Browse_ChunkBigFiles_ChunkSize}}</span>
                                    chunks in this class
                                    <hr />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Class name: <input style="width:150px;" ng-enter="Next(classData)" focus-on="Browse_focusClassName" ng-model="Browse_ClassName" type="text" value="{{Browse_ClassName}}" />
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>

            </fieldset>
        </div>
        <div ng-show="ActionMode == 'SelectOnlineCorpus' && !showInProcess">
            <fieldset>
                <legend>Select online corpus</legend>
                <div>
                    <input id="Select_BibleId" ng-click="OpenSelectBible();" type="radio" name="Select_OnlineCorpusGroup" ng-model="Select_OnlineCorpus" value="Bible" />
                    <label for="Select_BibleId">
                        Bible
                    </label>
                    <button ng-hide="true" focus-on="focusMe" type="button"
                            class="btn btn-success"
                            ng-dialog="partials/Dialogs/partial-Bible.html"
                            ng-dialog-controller="BibleDialogController"
                            ng-dialog-data="{{treeData}}"
                            ng-dialog-class="ngdialog-theme-default"
                            ng-dialog-show-close="true">
                        Bible
                    </button>
                </div>
                <fieldset>
                    <legend>Manage files</legend>
                    There are {{Select_NumberOfChapters}} chapters with {{Select_NumberOfWords}} words.
                    <table style="width:100%;">
                        <tr>
                            <td>
                                <input id="Select_DoNotChunkId" type="radio" name="Select_ChunkModeGroup" ng-model="Select_ChunkMode" value="DoNotChunk" />
                                <label for="Select_DoNotChunkId">
                                    Do not chunk (each chapter is a single example)
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="Select_AppendAndChunkId" type="radio" name="Select_ChunkModeGroup" ng-model="Select_ChunkMode" value="AppendAndChunk" />
                                <label for="Select_AppendAndChunkId">
                                    Append all chapters and then chunk (sparse chapters will be concatenated)
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="Select_ChunkBigFilesId" type="radio" name="Select_ChunkModeGroup" ng-model="Select_ChunkMode" value="ChunkBigFiles" />
                                <label for="Select_ChunkBigFilesId">
                                    Chunk big chapters
                                </label>
                            </td>
                        </tr>
                        <tr ng-show="Select_ChunkMode!='DoNotChunk'">
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            Minimum chunk size
                                        </td>
                                        <td><input style="width:50px;" ng-model="Select_MinimumChunkSize" type="text" value="{{Select_MinimumChunkSize}}" /></td>
                                        <td>-words</td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hr />
                                Now there are {{Select_ChunkSize}} chunks in this class
                                <hr />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Class name: <input style="width:150px;" focus-on="Select_focusClassName" ng-model="Select_ClassName" type="text" value="{{Select_ClassName}}" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </fieldset>
        </div>
        <div ng-show="ActionMode == 'LoadStoredClass' && !showInProcess">
            test

            <div class="row marketing">
                <div class="tree node" id="treeView" ng-if="treeViewData">
                    <ul>
                        <li tree class="tree" node="treeViewData"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ngdialog-buttons" ng-show="!showInProcess">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(classData)">Save</button>
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
</div>
