<div class="ngdialog-message" elem-ready="CollapseAllFunction()">
    <a href="" class="btn btn-default" ng-click="alertSelected()">Collapse all</a>


    <!-- Nested node templates -->
    <!-- Template for parent nodes -->
    <script type="text/ng-template" id="parent_nodes_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content ui-tree-handle">
            <i class="fa fa-2x" data-nodrag ng-class="{'fa-square-o': node.checkStatus==='unchecked', 'fa-check-square-o ': node.checkStatus==='checked', 'fa-minus-square-o': node.checkStatus==='partlyChecked'}" ng-click="toggleCheck(node)" data-nodrag></i>
            <i class="fa fa-2x" data-nodrag ng-class="{'fa-caret-square-o-right': collapsed, 'fa-caret-square-o-down': !collapsed}" ng-click="toggle(this)"></i>
            <i class="fa fa-2x" data-nodrag ng-class="{'fa-folder': collapsed, 'fa-folder-open': !collapsed}" ng-click="toggle(this)"></i>
            <span class="textContents"><strong>{{node.title}}</strong></span>
            <i ng-hide="true" class="fa fa-times-circle fa-2x pull-right" data-nodrag ng-click="remove($index)"></i>
            <i ng-hide="true" class="fa fa-plus-square fa-2x pull-right" data-nodrag ng-click="newSubItem($index)"></i>
        </div>
        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="(node.nodes) ? 'parent_nodes_renderer.html' :  'terminal_node_renderer.html' ">  </li>
        </ol>
    </script>
    <!-- Template for terminal nodes -->
    <script type="text/ng-template" id="terminal_node_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content ui-tree-handle">
            <i class="fa fa-2x" ng-class="{'fa-square-o': node.checkStatus==='unchecked', 'fa-check-square-o ': node.checkStatus==='checked'}" ng-click="toggleCheck(node)" data-nodrag></i>
            <span class="textContents"><strong>{{node.title}}</strong></span>
            <i ng-hide="true" class="fa fa-times-circle fa-2x pull-right" data-nodrag ng-click="remove($index)"></i>
        </div>
    </script>

    <!--The ROot Node-->
    <div ui-tree id="tree-root-dialog" callbacks="treeOptionsDialog">
        <ol ui-tree-nodes="" ng-model="treeData">
            <li ng-repeat="node in treeData" ui-tree-node ng-include="(node.nodes) ? 'parent_nodes_renderer_ngdialog.html' : 'terminal_node_renderer_ngdialog.html' "></li>
        </ol>
    </div>
</div>

<!-- Template for parent nodes For ngDialog -->
<script type="text/ng-template" id="parent_nodes_renderer_ngdialog.html">
    <div ui-tree-handle class="tree-node tree-node-content ui-tree-handle">
        <i class="fa fa-2x" data-nodrag ng-class="{'fa-square-o': node.checkStatus==='unchecked', 'fa-check-square-o ': node.checkStatus==='checked', 'fa-minus-square-o': node.checkStatus==='partlyChecked'}" ng-click="toggleCheck(node)" data-nodrag></i>
        <i class="fa fa-2x" data-nodrag ng-class="{'fa-caret-square-o-right': collapsed, 'fa-caret-square-o-down': !collapsed}" ng-click="toggle(this)"></i>
        <i class="fa fa-2x" data-nodrag ng-class="{'fa-folder': collapsed, 'fa-folder-open': !collapsed}" ng-click="toggle(this)"></i>
        <span class="textContents"><strong>{{node.title}}</strong></span>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="(node.nodes) ? 'parent_nodes_renderer.html' :  'terminal_node_renderer.html' ">  </li>
    </ol>
</script>
<!-- Template for terminal nodes For ng Dialog -->
<script type="text/ng-template" id="terminal_node_renderer_ngdialog.html">
    <div ui-tree-handle class="tree-node tree-node-content ui-tree-handle">
        <i class="fa fa-2x" ng-class="{'fa-square-o': node.checkStatus==='unchecked', 'fa-check-square-o ': node.checkStatus==='checked'}" ng-click="toggleCheck(node)" data-nodrag></i>
        <span class="textContents"><strong>{{node.title}}</strong></span>
    </div>
</script>

<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">OK</button>
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>

</div>