<div class="ngdialog-message">
    <h3>Select Features</h3>

    <in-progress></in-progress>

    <table style="width:100%;" ng-show="!showInProcess">
        <tr>
            <td valign="top">
               <span>Feature sets selected so far:<br /></span>
                <table>
                    <tr class="border">
                        <td>
                            <feature-sets show-delete-button="true"></feature-sets>
                        </td>
                    </tr>

                </table>
               
                <br />
                <br />
                <span class="Purple">
                    If you've selected all the feature sets you want, click on "Done. Extract features." and you'll be able to manually filter out problematic individual features.<br />
                    If you want to add more feature types, click on "Add feature set". (You'll have an opportunity to filter individual features later.)<br />
                </span>
                <br /><br />
                <button class="button padding_5 margin_15 radius" ng-click="AddFeatureSet()"><img src="images/add.png" /> Add feature set</button>
                <button class="button padding_5 margin_15 radius" ng-show="Feature_sets.length" ng-click="ExtractFeatures()">Done. Extract features</button>
                   <br />
                    <span ng-show="featuresData.features.length">Total number of features: <span class="border">{{TotalNumberOfFeatures}}</span></span>
             

            </td>

        </tr>
        <tr>
            <td>
                <div ng-show="featuresData.features.length">
                    
                    <fieldset>
                        <legend>Features statistics</legend>
                        <span class="Purple">
                            The following is a list of the individual features in the feature sets you've selected.<br />
                            You can eliminate problematic features by unchecking them.<br />
                            You can order the features according to any (blue-labeled) column and choose the top features in that column.<br />
                            When you're done, click on "Done" and you'll return to the main screen.<br />
                            <br />
                        </span>
                        <table class="width_100_percent">
                            <tr>
                                <td>
                                    <button style="margin-left:25px;" class="left button padding_5 font_14 radius" ng-click="checkAll()">Select all</button>
                                    <button style="margin-left:25px;"  class="left button padding_5 font_14 radius" ng-click="uncheckAll()">Unselect all</button>
                                    <button ng-show="false" style="margin-left:25px;" class="left button padding_5 font_14 radius" ng-click="checkTTest()">Select features with t-test value at least 2</button>
                                    <button style="margin-left:25px;" class="left button padding_5 font_14 radius" ng-click="checkMostTop()">Select top</button>
                                    <input class="left" style="width:55px; height:28px; margin-left:5px;" ng-enter="checkMostTop()" focus-on="focusIndexTop" ng-model="indexTop" type="text" value="{{indexTop}}" />

                                    <button type="button" ng-show="Feature_sets.length" class="button padding_3 radius right" ng-click="confirm()">DONE</button>

                                </td>
                            </tr>
                        </table>
                        <feature-table is-select-disabled="false"></feature-table>

                    </fieldset>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="ngdialog-buttons" ng-show="!showInProcess">
    <button type="button" ng-show="Feature_sets.length" class="padding_5 radius ngdialog-button ngdialog-button-primary" ng-click="confirm()">Done</button>
</div>