
<table class="mytable width_100_percent" height="600" fixed-header>
    <thead>
        <tr>
            <th>Index</th>
            <th>Selected</th>
            <th>
                <a href="" ng-click="predicate = 'name'; reverse=!reverse;">
                    <span ng-show="isMoreDetails">Name</span>
                    <span ng-show="!isMoreDetails">Feature name</span>
                </a>
            </th>
            <th title="An average is the sum of a list of numbers divided by the number of numbers in the list">
                <a href="" ng-click="predicate = 'average'; reverse=!reverse;">
                    <span ng-show="isMoreDetails">Freq</span>
                    <span ng-show="!isMoreDetails">Frequency</span>
                    in corpus (%)
                </a>
            </th>
            <th ng-show="isMoreDetails" title="Variance measures how far a set of numbers is spread out. Var = SIGMA[(featureValue - average)^2]/count">
                <a href="" ng-click="predicate = 'variance'; reverse=!reverse;">
                    VAR (%^2)
                </a>
            </th>
            <th ng-show="isMoreDetails" title="Relative Document Frequency = number_of_documents_include_the_feature/number_of_documents">
                <a href="" ng-click="predicate = 'documentFrequency'; reverse=!reverse;">
                    Appears in % of
                    <span ng-show="isMoreDetails">Docs</span>
                    <span ng-show="!isMoreDetails">documents</span>
                </a>
            </th>
            <th ng-repeat="oneclass in featuresData.classes" title="An average is the sum of a list of numbers divided by the number of numbers in the list">
                <span ng-show="isMoreDetails">Freq</span>
                <span ng-show="!isMoreDetails">Frequency</span>
                in {{oneclass}} (%)
            </th>
            <th ng-repeat="oneclass in featuresData.classes" ng-show="isMoreDetails" title="Variance measures how far a set of numbers is spread out. Var = SIGMA[(featureValue - average)^2]/count">
                {{oneclass}} VAR (%^2)
            </th>
            <th ng-repeat="oneclass in featuresData.classes" title="A t-test is any statistical hypothesis test in which the test statistic follows a Student's t distribution if the null hypothesis is supported. It can be used to determine if two sets of data are significantly different from each other, and is most commonly applied when the test statistic would follow a normal distribution if the value of a scaling term in the test statistic were known. When the scaling term is unknown and is replaced by an estimate based on the data, the test statistic (under certain conditions) follows a Student's t distribution. T-Test = (average-othersAverage)/sqrt(variance/count+othersVariance/othersCount)">
                {{oneclass}} T-Test
            </th>
            <th ng-repeat="oneclass in featuresData.classes" ng-show="isMoreDetails" title="Relative Document Frequency = number_of_documents_from_this_class_that_include_the_feature/number_of_documents_from_this_class">
                Appears in % of {{oneclass}}
                <span ng-show="isMoreDetails">Docs</span>
                <span ng-show="!isMoreDetails">documents</span>
            </th>
            <th title="max(values of T-Test of classes)">
                <a href="" ng-click="predicate = 'maxTTest'; reverse=!reverse;">
                    Max T-Test
                </a>
            </th>
            <th>
                <a href="" ng-click="predicate = 'className'; reverse=!reverse;">
                    <span ng-show="isMoreDetails">Class</span>
                    <span ng-show="!isMoreDetails">Dominant Class</span>
                </a>
            </th>
            <th title="Expected reduction in entropy due to sorting on the feature">
                <a href="" ng-click="predicate = 'infogain'; reverse=!reverse;">
                    <span ng-show="isMoreDetails">IG</span>
                    <span ng-show="!isMoreDetails">Infogain</span>
                </a>
            </th>
            <th>
                <a href="" ng-click="predicate = 'featureSetId'; reverse=!reverse;">
                    <span ng-show="isMoreDetails">Type</span>
                    <span ng-show="!isMoreDetails">Feature Type</span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in featuresData.features | orderBy:predicate:reverse | filter:maxTTestFilter">
            <td><span class="font_12">{{$index+1}}</span></td>
            <td><input ng-disabled="{{isSelectDisabled}}" ng-click="updateTotalNumberOfFeatures(item);" type="checkbox" ng-model="item.selected" /></td>
            <td><span title="{{item.title}}" class="{{item.color}}">{{item.name}}</span></td>
            <td>{{item.average | number : 2}}</td>

            <td ng-show="isMoreDetails">{{item.variance | number : 2}}</td>
            <td ng-show="isMoreDetails">{{item.documentFrequency | number : 2}}</td>
            <td ng-repeat="oneclass in featuresData.classes"> {{item.averageForEachClass[$index] | number : 2}} </td>
            <td ng-repeat="oneclass in featuresData.classes" ng-show="isMoreDetails"> {{item.varianceForEachClass[$index] | number : 2}} </td>
            <td ng-repeat="oneclass in featuresData.classes"> {{item.tTestForEachClass[$index] | number : 2}} </td>
            <td ng-repeat="oneclass in featuresData.classes" ng-show="isMoreDetails"> {{item.documentFrequencyForEachClass[$index] | number : 2}} </td>
            <td>{{item.maxTTest | number : 2}}</td>
            <td class="{{item.color}}">{{item.className}}</td>
            <td>{{item.infogain | number : 2}}</td>
            <td>{{Feature_sets[item.featureSetId].tokenizerType}}</td>
        </tr>
    </tbody>
</table>
<table class="width_100_percent">
    <tr>
        <td>
            <button ng-show="!isMoreDetails" class="button font_12 padding_3 radius right" ng-click="moreDetails()">More details</button>
            <button ng-show="isMoreDetails" class="button font_12 padding_3 radius right" ng-click="fewerDetails()">Fewer details</button>
        </td>
    </tr>
</table>