
<div ng-repeat="item in Feature_sets" id="{{item.id}}">
    <span ng-show="item.filterType=='Common'">{{item.filterCount}} most common </span>
    <span ng-show="item.filterType!='Common'">all </span>
    <span ng-show="item.tokenizerType=='Word'">word</span>
    <span ng-show="item.tokenizerType=='Letter'">letter</span>
    <span ng-show="item.tokenizerType=='PartsOfSpeech'">part of speech</span>
    <span ng-show="item.tokenizerType=='Morphology'">morphology</span>
    <span ng-show="item.tokenizerType=='SyntaxClause'">Syntax clause</span>
    <span ng-show="item.tokenizerType=='SyntaxPhrase'">Syntax phrase</span>
    <span ng-show="item.vocalized">vocalized</span>
    {{item.featureType | lowercase}}s ({{item.normalizerType | lowercase}})
    <span ng-show="$index!=(Feature_sets.length-1) && !showDeleteButton"> + </span>
    &nbsp;
    <a ng-show="showDeleteButton" ng-click="deleteFeatureSet($index)" class="delete-item">x</a>
</div>
