
<div ng-show="classes.length" class="border">
    <div ng-repeat="item in classes" id="{{item.id}}">
        <img src="images/done.png" />&nbsp;<span title="{{item.selectedText | limitTo: 1200}}...">{{item.title}}, </span>
        {{item.numberOfChunks}}
        <span ng-show="item.chunkMode=='DoNotChunk'">documents (unchunked)</span>
        <span ng-show="item.chunkMode=='AppendAndChunk'">chunks (appended and chunked)</span>
        <span ng-show="item.chunkMode=='ChunkBigFiles'">chunks (chunked)</span>
        <span ng-show="item.chunkMode=='By chapter'">chapters </span>
        <img ng-show="false" src="images/select.gif" ng-click="UpdateClass($index);" />
        , average length = {{item.totalNumberOfWords/item.numberOfChunks | number: 0}} &nbsp;
        <img ng-show="showDeleteButton" src="images/delete.png" ng-click="DeleteClass($index);" />
    </div>
</div>
