
<h4 ng-show="!showClassDialog">Segmentation</h4>


<!-- links
    https://docs.angularjs.org/tutorial/step_07
    https://scotch.io/tutorials/angular-routing-using-ui-router
    https://scotch.io/tutorials/single-page-apps-with-angularjs-routing-and-templating
    -->

<div id="main">

    <table style="width:100%;">
        <tr>
            <td>
                <in-progress></in-progress>
            </td>
        </tr>
    </table>

    <table style="width:100%;" ng-show="!showInProcess">
        <tr>
            <td>
                <div ng-show="showClassDialog" ng-controller="TxtClassDialogController">
                    <div class="ngdialog-message">
                        <h3>Choose text</h3>
                        <span class="Purple">
                            There are three ways to select text for this experiment.<br />
                            You can upload a text file from your own computer.<br />
                            You can choose text from one of our stored libraries. (For now only the Hebrew Bible is available.)<br />
                            You can choose a text you've previously used from a dropdown list (coming soon).<br /><br />
                        </span>
                        <br />
                        <action-mode></action-mode>
                        
                        <in-progress></in-progress>
                        <br />
                        <div ng-show="Segmentation_ActionMode == 'BrowseThisComputer' && !showInProcess">
                            <fieldset>
                                <legend>Browse this computer</legend>
                                <div>
                                    Select a text file :<input type="file" focus-on="Browse_focusTxtFile" file-model="txtFile" accept=".txt, .rtf" custom-on-change="file_changed" />
                                </div>
                                <div ng-show="Browse_fileUploaded">
                                    <fieldset>
                                        <legend>Manage files</legend>
                                        There are <code>{{Browse_NumberOfFiles}}</code> files with <code>{{Browse_NumberOfWords}}</code> words.
                                    </fieldset>
                                </div>

                            </fieldset>
                        </div>
                        <div ng-show="Segmentation_ActionMode == 'SelectOnlineCorpus' && !showInProcess">
                            <fieldset>
                                <legend>Select online corpus</legend>
                                <span class="Purple">
                                    Select one of the available corpora.<br />
                                    You will then be able to choose texts from the selected corpus.<br />
                                    The selected texts will be appended to form a single text which will then be decomposed into stylistic (authorial) threads.<br />
                                </span>

                                <select-online-corpus></select-online-corpus>

                            </fieldset>
                        </div>
                        <div ng-show="Segmentation_ActionMode == 'LoadStoredClass' && !showInProcess">
                            LoadStoredClass
                        </div>
                    </div>
                    <br />
                </div>

                <hr />
            </td>
        </tr>
        <tr>
            <td ng-show="false">
                <fieldset>
                    <legend>Choose feature set for document representation using clustering</legend>
                    <table style="width:100%;">
                        <tr>
                            <td>
                                <span class="Purple">
                                    Choose which types of features you wish to use for an initial decomposition of the text.<br />
                                    Available feature types include words, morphology, syntax and more (depending on the nature of your corpus).<br />
                                    If you're not sure what to do, leave the default settings and skip to the next stage.<br />
                                    <br />
                                </span>
                                Current feature set:
                                <div ng-show="Feature_sets.length" class="border">
                                    <span ng-repeat="item in Feature_sets" id="{{item.id}}">
                                        <span ng-show="item.filterType=='Common'">{{item.filterCount}} most common </span>
                                        <span ng-show="item.filterType!='Common'">all </span>
                                        <span ng-show="item.tokenizerType=='Word'">word</span>
                                        <span ng-show="item.tokenizerType=='Letter'">letter</span>
                                        <span ng-show="item.tokenizerType=='PartsOfSpeech'">part of speech</span>
                                        <span ng-show="item.tokenizerType=='Morphology'">morphology</span>
                                        <span ng-show="item.tokenizerType=='SyntaxClause'">Syntax clause</span>
                                        <span ng-show="item.tokenizerType=='SyntaxPhrase'">Syntax phrase</span>
                                        {{item.featureType | lowercase}}s ({{item.normalizerType | lowercase}})
                                        <span ng-show="$index!=(Feature_sets.length-1)"> + </span>
                                    </span>
                                    <span ng-show="TotalNumberOfFeatures!=0">[{{TotalNumberOfFeatures}} after manual filtering]</span>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="button padding_5 small-block-grid-1 radius" ng-click="OpenSelectUnsuperviseFeatureSet();">
                                    Change feature set
                                </button>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <hr />
            </td>
        </tr>

        <tr ng-show="false">
            <td>
                <fieldset>
                    <legend>Choose feature set for document representation using supervise learning</legend>
                    <table style="width:100%;">
                        <tr>
                            <td>
                                <input ng-model="Segmentation_Supervise_FeatureSet" type="radio" name="Segmentation_Supervise_FeatureSet_Group" value="Default" /> Use default (250 most common tokenized words in corpus)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="10%">
                                    <tr>
                                        <td>
                                            <input ng-click="OpenSelectSuperviseFeatureSet();" ng-model="Segmentation_Supervise_FeatureSet" type="radio" name="Segmentation_Supervise_FeatureSet_Group" value="Select" /> Select
                                        </td>
                                        <td ng-show="Segmentation_Supervise_FeatureSet=='Select'">
                                            <button class="button small-block-grid-1 radius" ng-click="OpenSelectSuperviseFeatureSet();">
                                                Update
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <hr />
            </td>
        </tr>
        
        
        <tr ng-show="!showInProcess">
            <td title="How many clusters (authors)">
                <table>
                    <tr>
                        <td>Choose the number of threads to which to decompose the text </td>
                        <td><input class="width_150" ng-model="Segmentation_NumberOfClusters" id="clusters" name="clusters" type="text" value="{{Segmentation_NumberOfClusters}}" /></td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr ng-show="!showInProcess">
            <td title="Consider the % of sentences that are assigned to one class or the other with highest confidence (reflected in distance from the SVM boundary)">
                <table>
                    <tr>
                        <td>
                            How granular do you want the decomposition to be 
                        </td>
                        <td>
                            <div class="well">
                                Low granularity<input id="NumberOfSentencesLockedInId" ng-model="Segmentation_NumberOfSentencesLockedIn"
                                                      type="text" data-slider-min="10" data-slider-max="90" data-slider-step="1"
                                                      data-slider-id='NumberOfSentencesLockedInIdSlider' /> High granularity
                                <span ng-show="false">
                                    {{Segmentation_NumberOfSentencesLockedIn}}% locked
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>


                <script>
                    // http://seiyria.com/bootstrap-slider/
                    var slider;
                    $(document).ready(function () {
                        slider = new Slider('#NumberOfSentencesLockedInId', {
                            min: 10,
                            max: 90,
                            scale: 'logarithmic',
                            value: 25,
                            step: 1
                        });
                        $("#NumberOfSentencesLockedInId").on("slide", function (slideEvt) {
                            var scope = angular.element($("#NumberOfSentencesLockedInId")).scope(); // $rootScope; //
                            //alert(scope);
                            //alert(scope.Segmentation_NumberOfSentencesLockedIn);
                            scope.Segmentation_NumberOfSentencesLockedIn = slideEvt.value;
                            //alert(slideEvt.value);
                        });

                    });
                </script>


                <input ng-show="false" class="width_150" ng-model="Segmentation_NumberOfSentencesLockedIn" id="sentences_locked_in" name="sentences_locked_in" type="text" value="{{Segmentation_NumberOfSentencesLockedIn}}" />
            </td>
        </tr>

        <tr>
            <td>
                <fieldset>
                    <legend>Choose parameters of algorithm</legend>
                    
                    <span class="Purple">
                        advanced parameters
                        <br />
                    </span>
                    <table style="width:100%;">
                        <tr>
                            <td>
                                Current parameters of algorithm:
                                <span class="border">
                                    {{selectedAlgorithmType.name}}, 
                                    <span ng-show="Segmentation_ChunkBy=='NumberOfSentence'">
                                        {{Segmentation_NumberOfSentencePerChunk}} sentences
                                    </span>
                                    <span ng-show="Segmentation_ChunkBy=='SplitString'">
                                        {{Segmentation_SplitString}} split string
                                    </span>
                                    <span ng-show="Segmentation_ChunkBy=='BibleChapter'">
                                        chunk by chapter
                                    </span>
                                    , {{Segmentation_SimilarityType}}, {{Segmentation_CoreDocs}}% core

                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="button padding_5 small-block-grid-1 radius" ng-click="OpenSelectParametersOfAlgorithm();">
                                    Change parameters of algorithm
                                </button>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <hr />
            </td>
        </tr>
        <tr>
            <td>
                <button class="button margin_15 padding_5 small-block-grid-1 radius" ng-click="RunExperiment();">
                    Run Experiment
                </button>
                <div class="ngdialog-buttons" ng-show="!showInProcess">
                    <button type="button" class=" button padding_5 radius" ng-click="Back()">Back</button>
                </div>
            </td>
        </tr>
    </table>

</div>
