

<!-- links
    https://docs.angularjs.org/tutorial/step_07
    https://scotch.io/tutorials/angular-routing-using-ui-router
    https://scotch.io/tutorials/single-page-apps-with-angularjs-routing-and-templating
    -->
 
    <div id="main">

        <table style="width:100%;">
            <tr>
                <td>
                    <in-progress></in-progress>
                </td>
            </tr>
            
        </table>
        <table style="width:100%;" ng-show="!showInProcess">
            <tr>
                <td>
                    <div ng-show="false">
                        <div>
                            <input ng-model="Classification_TestSetExperimentType" type="radio" name="Classification_TestSetExperimentType_Group" value="Unknown" /> Test classes unknown
                        </div>
                        <div>
                            <input ng-model="Classification_TestSetExperimentType" type="radio" name="Classification_TestSetExperimentType_Group" value="Known" /> Test classes known
                        </div>
                        <div ng-show="Classification_TestSetExperimentType=='Unknown' && !showClassDialog">
                            <table ng-show="unknownClasses.length" class="nav">
                                <tr ng-repeat="item in unknownClasses" id="{{item.id}}">
                                    <td>{{item.title}}</td>
                                    <td><i title="{{item.selectedText}}">{{item.selectedText | limitTo: 40}}...</i></td>
                                    <td>there are {{item.numberOfChunks}} chunks, using {{item.chunkMode}} <span ng-show="item.chunkMode!=DoNotChunk">with chunk size of {{item.chunkSize}}</span></td>
                                    <td><img src="images/select.gif" ng-click="UpdateUnknownClass($index);" /></td>
                                </tr>
                                <tr></tr>
                            </table>
                        </div>
                    </div>
                    
                    <div ng-show="Classification_TestSetExperimentType=='Known'">
                        <table ng-show="knownClasses.length" class="nav">
                            <tr ng-repeat="item in knownClasses" id="{{item.id}}">
                                <td>{{item.title}}</td>
                                <td><i title="{{item.selectedText}}">{{item.selectedText | limitTo: 40}}...</i></td>
                                <td>there are {{item.numberOfChunks}} chunks, using {{item.chunkMode}} <span ng-show="item.chunkMode!=DoNotChunk">with chunk size of {{item.chunkSize}}</span></td>
                                <td><img src="images/select.gif" ng-click="UpdateKnownClass($index);" /></td>
                            </tr>
                            <tr></tr>
                        </table>
                    </div>
                    <hr />
                    <div ng-show="showClassDialog" ng-controller="ClassDialogController">
                        <div class="ngdialog-message">
                            <h3>Choose test set</h3>
                            
                            <action-mode></action-mode>
                            
                            <in-progress></in-progress>
                            <div ng-show="ActionMode == 'BrowseThisComputer' && !showInProcess">
                                <browse-this-computer show-class-name="false"></browse-this-computer>
                            </div>
                            <div ng-show="ActionMode == 'SelectOnlineCorpus' && !showInProcess">
                                <fieldset>
                                    <legend>Select online corpus</legend>
                                    
                                    <select-online-corpus></select-online-corpus>

                                </fieldset>
                            </div>
                            <div ng-show="ActionMode == 'LoadStoredClass' && !showInProcess">
                                LoadStoredClass
                            </div>
                        </div>
                        <div class="ngdialog-buttons" ng-show="!showInProcess">
                            <button type="button" class=" button padding_5 radius" ng-click="saveClass()">Run experiment</button>
                            <button type="button" class=" button padding_5 radius" ng-click="cancelClass()">Back</button>
                        </div>
                    </div>

                </td>
            </tr>
        </table>

    </div>
