<h4 ng-show="!showClassDialog">Classification</h4>


<!-- links
    https://docs.angularjs.org/tutorial/step_07
    https://scotch.io/tutorials/angular-routing-using-ui-router
    https://scotch.io/tutorials/single-page-apps-with-angularjs-routing-and-templating
    -->
 
    <div id="main">

        <table style="width:100%;">
            <tr>
                <td>
                    <div class="Purple" ng-show="classes.length==0 && !showClassDialog && !showInProcess">
                        Given two or more classes of texts, Tiberias will learn a classifier that distinguishes among them.
                        <br />
                        You will need to provide sample texts for each class. Click on Add Class to get started.
                        <hr />
                    </div>
                    <span class="Purple" ng-show="classes.length >=1 && !showClassDialog && !showInProcess">Classes selected so far:</span>

                </td>
            </tr>
            <tr>
                <td>
                    <in-progress></in-progress>
                </td>
            </tr>
        </table>
        
        <table style="width:100%;" ng-show="!showInProcess">
            <tr>
                <td>
                    <training-classes show-delete-button="true"></training-classes>
                    <br /><br />
                    <span class="Purple" ng-show="classes.length==1" ><br />Provide sample text for the next class. Click on Add Class.<br /><br /></span>
                    <span class="Purple" ng-show="classes.length >1"><br />
                        If you've selected all the classes you want, continue to the next stage: choosing a feature set.<br />
                        If you want to select more classes, click on Add Class.<br /><br /><br />
                    </span>
                    <div ng-show="showClassDialog" ng-controller="ClassDialogController">
                        <div aria-labelledby="ngdialog1-aria-labelledby" role="alertdialog" id="ngdialog10" class="ngdialog ngdialog-theme-default ng-scope">
                            <div class="ngdialog-overlay"></div>
                            <div class="ngdialog-content" role="document">
                                <div class="ngdialog-message">
                                    <h3>Add Class</h3>
                                    <span class="Purple">
                                        There are three ways to add texts for this class.<br />
                                        You can upload a zip file from your own computer.<br />
                                        You can choose texts from one of our stored libraries. (For now only the Hebrew Bible is available.)<br />
                                        You can choose a class you've previously used from a dropdown list (coming soon).<br />
                                    </span>
                                    <br />
                                    <action-mode></action-mode>
                                    <in-progress></in-progress>
                                    <br />
                                    <div ng-show="ActionMode == 'BrowseThisComputer' && !showInProcess">
                                        <browse-this-computer show-class-name="true"></browse-this-computer>
                                    </div>
                                    <div ng-show="ActionMode == 'SelectOnlineCorpus' && !showInProcess">
                                        <fieldset>
                                            <legend>Select online corpus</legend>
                                            <span class="Purple">
                                                Select one of the available corpora.<br />
                                                You will then be able to choose texts from the selected corpus.<br /><br />
                                            </span>
                                            <select-online-corpus></select-online-corpus>

                                            <br />
                                            <table style="width:100%;" ng-show="Select_OnlineCorpus=='Bible'">
                                                <tr>
                                                    <td>
                                                        <class-name-input></class-name-input> 
                                                    </td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </div>
                                    <div ng-show="ActionMode == 'LoadStoredClass' && !showInProcess">
                                        <div>
                                            <!-- http://wwwendt.de/tech/dynatree/doc/dynatree-doc.html -->
                                            <div id="classTree"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ngdialog-buttons" ng-show="!showInProcess">
                                    <button type="button" class="padding_5 radius ngdialog-button ngdialog-button-primary" ng-click="saveClass()">Save class</button>
                                    <button type="button" class="padding_5 radius ngdialog-button ngdialog-button-secondary" ng-click="cancelClass()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button ng-show="!showClassDialog" focus-on="focusMe" class="button padding_5 radius" ng-click="OpenAddClass();">
                        <img src="images/add.png" />
                        Add Class
                    </button>
                    <hr />
                </td>
            </tr>
            <tr ng-show="classes.length>1">
                <td>
                    <fieldset>
                        <legend>Choose feature set for document representation</legend>
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <span class="Purple">
                                        Choose which types of features you wish to use for characterizing training texts and classifying other texts.<br />
                                        Available feature types include words, morphology, syntax and more (depending on the nature of your corpus).<br />
                                        If you're not sure what to do, leave the default settings and skip to the next stage.<br />
                                        <br />
                                    </span>
                                    Current feature set:
                                    <div ng-show="Feature_sets.length" class="border">
                                        <feature-sets show-delete-button="false"></feature-sets>
                                        <span ng-show="TotalNumberOfFeatures!=0">[{{TotalNumberOfFeatures}} after manual filtering]</span>
                                    </div>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="button padding_5 small-block-grid-1 radius" ng-click="OpenSelectFeatureSet();">
                                        Change feature set
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <hr />
                </td>
            </tr>
            <tr ng-show="classes.length>1">
                <td>
                    <fieldset>
                        <legend>Choose learning algorithm</legend>
                        <span class="Purple">
                            Choose which learning algorithm you wish to use for classification.<br />
                            If you're not sure what to do, leave the default settings and skip to the next stage.<br />
                            <br />
                        </span>
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    Current learning algorithm: <span class="border">{{selectedAlgorithmType.name}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="button padding_5 small-block-grid-1 radius" ng-click="OpenSelectAlgorithm();">
                                        Change learning algorithm
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <hr />
                </td>
            </tr>
            <tr ng-show="classes.length>1">
                <td>
                    <fieldset>
                        <legend>Choose an experiment type</legend>
                        <span class="Purple">
                            If you just want to check if the system works well for your problem but you don't have a test set handy, choose "cross-validation".<br />
                            If you have a test set handy, choose "Select test set".<br />
                            <br />
                        </span>
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <input ng-show="false" ng-model="Classification_ExperimentType" type="radio" name="Classification_ExperimentType_Group" value="CV" /> Use
                                                        </td>
                                                        <td><input style="width:36px;" ng-model="Classification_CrossValidationFolds" type="text" value="{{Classification_CrossValidationFolds}}" /></td>
                                                        <td>-fold cross-validation</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="color:gray;">
                                                <input disabled type="checkbox" ng-model="Classification_isKeepingChunksFromSameFileToghter" /> Keep chunks from same file together <span style="font-size:9px;">(What's this?) </span>
                                            </td>
                                            <td>
                                                <button class="button margin_15 padding_5 small-block-grid-1 radius" ng-click="NextExp('CV');">
                                                    Run cross-validation experiment
                                                </button>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td><input ng-show="false"  ng-model="Classification_ExperimentType" type="radio" name="Classification_ExperimentType_Group" value="TestSet" /> Use test set</td>
                                            <td class="margin_15"><input disabled type="checkbox" ng-model="KnownTestSet" /> <span style="color:gray;">True classes of texts in test set are known</span></td>
                                            <td><button class="button margin_15 padding_5 small-block-grid-1 radius" ng-click="NextExp('TestSet');">
    Select test set
</button></td>
                                        </tr>
                                    </table>
                                    
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button ng-show="false" class="button margin_15 padding_5 small-block-grid-1 radius" ng-click="SaveExperiment();">
                                        Save Experiment
                                    </button>
                                </td> 
                            </tr>
                        </table>
                    </fieldset>
                    <hr />
                </td>
            </tr>
        </table>
        <div class="ngdialog-buttons" ng-show="!showInProcess">
            <button type="button" class=" button padding_5 radius" ng-click="Back()">Back</button>
        </div>
    </div>
